.body{
    margin: 0; overflow: hidden;background-color: #222629;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar{
    height: 40px;
    width: 100%;
    background-color: #86C232;
    border: 0;
    border-collapse: collapse;
}

.navbar-button{
    padding: 5px 20px;
    border-left: solid 1px #696969;
    border-right: solid 1px #696969;
    user-select: none;
    margin-left: 7px;
    margin-right: 7px;
}


.navbar-button:hover{
    z-index: 10;
    background-color: #61892F;
    cursor: pointer;
}

.header {
    border-collapse: collapse;
}

.player-name{
    font-weight: bold;
    font-size: 20px;
    color: dimgrey;
    padding: 5px 10px;
}

.board {
    margin: 10px;
    position: relative;

    width: min(100%, 500px);
    padding-bottom: min(100%, 500px);
    background-image: url("/resources/img/board.svg");
}

.board_container{
    max-height: 300px;
}
.piece{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-size: cover;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    top: 0;
    left: 0;
}

.picked{
    z-index: 2;
}
.white_pawn{
    background-image: url("/resources/img/pieces/white/pawn.svg");
}

.white_king{
    background-image: url("/resources/img/pieces/white/king.svg");
}

.white_knight{
    background-image: url("/resources/img/pieces/white/knight.svg");
}

.white_bishop{
    background-image: url("/resources/img/pieces/white/bishop.svg");
}

.white_rook{
    background-image: url("/resources/img/pieces/white/rook.svg");
}

.white_queen{
    background-image: url("/resources/img/pieces/white/queen.svg");
}


.black_pawn{
    background-image: url("/resources/img/pieces/black/pawn.svg");
}

.black_king{
    background-image: url("/resources/img/pieces/black/king.svg");
}

.black_knight{
    background-image: url("/resources/img/pieces/black/knight.svg");
}

.black_bishop{
    background-image: url("/resources/img/pieces/black/bishop.svg");
}

.black_rook{
    background-image: url("/resources/img/pieces/black/rook.svg");
}

.black_queen{
    background-image: url("/resources/img/pieces/black/queen.svg");
}

